{{< CommonMetaTags}}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta id="Meta-lang" http-equiv="content-language" content="{{CurrentLang.IsoLang}}" data-date-format="{{JsDateFormatForBe}}">
{{{PixelFacebook}}}
{{{GoogleTagManagerHead}}}
{{/CommonMetaTags}}

{{< FaviconTags}}
<link rel="shortcut icon" type="image/x-icon" href="{{Url}}/{{FaviconName}}" />
{{/FaviconTags}}

{{< CommonStylesheets}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{TitlePoliceImportUrl}}" rel="stylesheet">
<link href="{{TextPoliceImportUrl}}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/line-awesome/line-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/fa-brands.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/bootstrap/bootstrap-min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/owl.carousel.2.3.4.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/owl.theme.default.2.3.4.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/lightgallery.min.css">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/common.min.css?v={{TemplateName}}_{{CacheVar}}">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/elloha-template-33.min.css?v={{TemplateName}}_{{CacheVar}}">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/custom.css?v={{TemplateName}}_{{CacheVar}}">
{{/CommonStylesheets}}

{{< CommonScripts}}
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/plugins.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/bootstrap/bootstrap-min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/owl.carousel.2.3.4.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/mandrill/mandrill.min.js"></script>
<script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js" crossorigin async data-callback="initMapKit" data-libraries="map" data-initial-token="{{TokenMapKit}}"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/skycons.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/lightgallery-all.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/config.js?v={{Template}}_{{CacheVar}}"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.fittext.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.ebcaptcha.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/common.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/elloha-template-33.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/newcookieconsent.min.js"></script>
<script src="https://js.hcaptcha.com/1/api.js"></script>
{{/CommonScripts}}

{{< ScriptCalendarClick}}
<script>
    var onAvailableDateSelect = function () {
        var dpWidget = window.widgetDatePicker["ConstellationWidgetContainerBE"];

        if (dpWidget === null || dpWidget === undefined) {
            return;
        }

        dpWidget.setDate(this.getMoment()._d);
        $('#ConstellationWidgetContainerBE #BtnLaunchBooking').trigger('click');
    };
</script>
{{/ScriptCalendarClick}}

{{< Header}}
<div class="first-nav">
    <div class="content-section-first-nav">

        <div class="contacts-top-menu">
            {{#HasPhoneNumberActivated}}
            <a href="tel:{{PhoneNumber}}"><i class="las la-phone"></i></a>
            {{/HasPhoneNumberActivated}}

            {{#HasMobilePhoneNumberActivated}}
            <a href="tel:{{MobilePhoneNumber}}"><i class="las la-mobile"></i></a>
            {{/HasMobilePhoneNumberActivated}}

            <a class="dynamic-mail-to"><i class="las la-envelope"></i></a>
        </div>

        <div class="logo logo-w">
            <a class="logo-top {{^HasLogo}} logo-text{{/HasLogo}}" href="{{UrlRoot}}">
                {{#HasLogo}}<img src="{{LogoUrl}}" alt="{{CustomTitle}}">{{/HasLogo}}
                {{^HasLogo}}<span class="title">{{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup></span>{{/HasLogo}}
            </a>
        </div>

        <div class="navbar-toggler">
            <div class="btn-menu btn-menu-bars">
                <div class="bars-one">
                    <div class="bars-one-hidden"></div>
                </div>
                <div class="bars-two">
                    <div class="bars-two-hidden"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- NAV MOBILE -->
<nav class="mobile-nav">
    <ul class="menu menu-mobile">
        {{#HasPages}}
        <li class="clic-sub-menu">
            <div>
                <span class="trait"></span>
                <a href="#">{{ResourcesTemplate.discover}}</a>
            </div>
            <ul class="sub-menu">
                {{#Pages}}
                <li><a href="{{UrlPageTemplate}}">{{TitlePage}}</a></li>
                {{/Pages}}
            </ul>
        </li>
        {{/HasPages}}
        {{#HasGroupesPrestations}}
        <li class="clic-sub-menu">
            <div>
                <span class="trait"></span>
                <a href="#">{{ResourcesTemplate.Offers_MenuTitle}}</a>
            </div>
            <ul class="sub-menu">
                {{#ViewAllOffers}}
                <li><a href="{{UrlOffers}}">{{ResourcesTemplate.Offers_ViewAll}}</a> </li>
                {{/ViewAllOffers}}
                {{#GroupesPrestations}}
                <li><a href="{{UrlGroupe}}">{{TitreGroupe}}</a></li>
                {{/GroupesPrestations}}
            </ul>
        </li>
        {{/HasGroupesPrestations}}
        {{^IsRestaurant}}
        {{^HasGroupesPrestations}}
        {{#HasPrestas}}
        {{#Prestations.1}}
        <li class="clic-sub-menu">
            <div>
                <span class="trait"></span>
                <a href="#">{{ResourcesTemplate.Offers_MenuTitle}}</a>
            </div>
            <ul class="sub-menu">
                {{#ViewAllOffers}}
                <li><a href="{{UrlOffers}}">{{ResourcesTemplate.Offers_ViewAll}}</a> </li>
                {{/ViewAllOffers}}
                {{#Prestations}}
                <li><a href="{{UrlPrestaTemplate}}">{{TitrePresta}}</a></li>
                {{/Prestations}}
            </ul>
        </li>
        {{/Prestations.1}}
        {{^Prestations.1}}
        <li>
            <a href="{{Prestations.0.UrlPrestaTemplate}}">{{ResourcesTemplate.Offers_MenuTitle}}</a>
        </li>
        {{/Prestations.1}}
        {{/HasPrestas}}
        {{/HasGroupesPrestations}}
        {{/IsRestaurant}}
        {{#IsRestaurant}}
        {{#HasPrestas}}
        {{#Prestations.0}}
        <li>
            <a href="{{UrlPrestaTemplate}}">{{ResourcesTemplate.CarteMenus}}</a>
        </li>
        {{/Prestations.0}}
        {{/HasPrestas}}
        {{/IsRestaurant}}
        {{#HasSpecialOffers}}
        <li>
            <a href="{{UrlSpecialOffers}}">{{ResourcesTemplate.pageMenuTitle_special-offers}}</a>
        </li>
        {{/HasSpecialOffers}}
        {{#HasBookingActivated}}
        {{#HasGiftsActivated}}
        <li>
            <a href="{{UrlGifts}}">{{ResourcesTemplate.GiftsTitle}}</a>
        </li>
        {{/HasGiftsActivated}}
        {{/HasBookingActivated}}
        {{#HasRecommandations}}
        <li>
            <a href="{{UrlAround}}">{{ResourcesTemplate.pageMenuTitle_around}}</a>
        </li>
        {{/HasRecommandations}}
        {{#HasNews}}
        <li>
            <a href="{{UrlNews}}">{{ResourcesTemplate.pageMenuTitle_news}}</a>
        </li>
        {{/HasNews}}
        {{#FeaturedPage}}
        <li>
            <a href="{{UrlPageTemplate}}">{{TitlePage}}</a>
        </li>
        {{/FeaturedPage}}
        <li>
            <a href="{{UrlContact}}">{{ResourcesTemplate.Contact}}</a>
        </li>
        {{#HasBookingActivated}}
        <li>
            <a href="{{UrlOnlineBooking}}">{{ResourcesTemplate.pageMenuTitle_online-reservation}}</a>
        </li>
        {{/HasBookingActivated}}
    </ul>

    {{#HasOtherLangs}}
    <div class="dropdown languages">
        <div data-toggle="dropdown">
            <img class="flag" src="{{CurrentLang.FlagUrl}}" alt="{{CurrentLang.CultureLang}}"><em class="icon-pre-padding ion-chevron-down"></em>
            <i class="las la-angle-down"></i>
        </div>
        <ul class="dropdown-menu">
            {{#Langs}}
            <li><a href="{{UrlLang}}" lang="{{IsoLang}}"><img class="flag" src="{{FlagUrl}}" alt="{{CultureLang}}"></a></li>
            {{/Langs}}
        </ul>
    </div>
    {{/HasOtherLangs}}
</nav>

<div class="nav-desktop">
    <div class="logo-meteo-contacts-lang">
        <div class="logo-and-meteo">
            <div class="logo logo-w">
                <a class="logo-top {{^HasLogo}} logo-text{{/HasLogo}}" href="{{UrlRoot}}">
                    {{#HasLogo}}<img src="{{LogoUrl}}" alt="{{CustomTitle}}">{{/HasLogo}}
                    {{^HasLogo}}<span class="title">{{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup></span>{{/HasLogo}}
                </a>
                {{#HasBookingActivated}}
                <div class="btn-resa-menu-contain d-none">
                    <a class="btn" href="{{UrlOnlineBooking}}">{{ResourcesTemplate.pageMenuTitle_online-reservation}}</a>
                </div>
                {{/HasBookingActivated}}
            </div>

            {{! Current conditions }}
            <div class="weather-item">
                <div>
                    <canvas id="WeatherCcIcon" data="{{CurrentWeather.WeatherIcon}}" class="weather-icon"></canvas>
                </div>

                <div>
                    <span class="bold-text" id="WeatherCcTemperature">{{CurrentWeather.WeatherTemperature}}°{{CurrentLang.TemperatureUnit}}</span>
                    <span class="bold-text">{{ResourcesTemplate.AgeTo}}</span>
                    <span class="bold-text">{{City}}</span>
                </div>
            </div>
        </div>

        <div class="contacts-and-lang">
            <div class="contacts-top-menu">
                {{#HasPhoneNumberActivated}}
                <a href="tel:{{PhoneNumber}}"><i class="las la-phone"></i></a>
                {{/HasPhoneNumberActivated}}

                {{#HasMobilePhoneNumberActivated}}
                <a href="tel:{{MobilePhoneNumber}}"><i class="las la-mobile"></i></a>
                {{/HasMobilePhoneNumberActivated}}

                <a class="dynamic-mail-to"><i class="las la-envelope"></i></a>
            </div>

            {{#HasOtherLangs}}
            <div class="dropdown languages">
                <div class="drop-lang" data-toggle="dropdown">
                    <div class="current-lang flag">{{CurrentLang.IsoLang}}</div>
                    <i class="las la-angle-down"></i>
                </div>
                <ul class="dropdown-menu">
                    {{#Langs}}
                    <li><a href="{{UrlLang}}" lang="{{IsoLang}}"><div class="current-lang flag">{{IsoLang}}</div></a></li>
                    {{/Langs}}
                </ul>
            </div>
            {{/HasOtherLangs}}
        </div>
    </div>

    <div class="big-line"></div>

    <ul class="pages">
        {{#HasPages}}
        <li class="dropdown clic-sub-menu clic-sub-menu-2 menu-header-li">
            <a data-toggle="dropdown" href="#">{{ResourcesTemplate.discover}}</a>
            <ul class="dropdown-menu sub-menu">
                {{#Pages}}
                <li><a href="{{UrlPageTemplate}}">{{TitlePage}}</a></li>
                {{/Pages}}
            </ul>
        </li>
        {{/HasPages}}
        {{#HasGroupesPrestations}}
        <li class="dropdown clic-sub-menu clic-sub-menu-2 menu-header-li">
            <a data-toggle="dropdown" href="#">{{ResourcesTemplate.Offers_MenuTitle}}</a>
            <ul class="dropdown-menu sub-menu">
                {{#ViewAllOffers}}
                <li><a href="{{UrlOffers}}">{{ResourcesTemplate.Offers_ViewAll}}</a></li>
                {{/ViewAllOffers}}
                {{#GroupesPrestations}}
                <li><a href="{{UrlGroupe}}">{{TitreGroupe}}</a></li>
                {{/GroupesPrestations}}
            </ul>
        </li>
        {{/HasGroupesPrestations}}
        {{^IsRestaurant}}
        {{^HasGroupesPrestations}}
        {{#HasPrestas}}
        {{#Prestations.1}}
        <li class="dropdown clic-sub-menu clic-sub-menu-2 menu-header-li">
            <a data-toggle="dropdown" href="#">{{ResourcesTemplate.Offers_MenuTitle}}</a>
            <ul class="dropdown-menu sub-menu">
                {{#ViewAllOffers}}
                <li><a href="{{UrlOffers}}">{{ResourcesTemplate.Offers_ViewAll}}</a></li>
                {{/ViewAllOffers}}
                {{#Prestations}}
                <li><a href="{{UrlPrestaTemplate}}">{{TitrePresta}}</a></li>
                {{/Prestations}}
            </ul>
        </li>
        {{/Prestations.1}}
        {{^Prestations.1}}
        <li class="menu-header-li">
            <a href="{{Prestations.0.UrlPrestaTemplate}}">{{ResourcesTemplate.Offers_MenuTitle}}</a>
        </li>
        {{/Prestations.1}}
        {{/HasPrestas}}
        {{/HasGroupesPrestations}}
        {{/IsRestaurant}}
        {{#IsRestaurant}}
        {{#HasPrestas}}
        {{#Prestations.0}}
        <li>
            <a href="{{UrlPrestaTemplate}}">{{ResourcesTemplate.CarteMenus}}</a>
        </li>
        {{/Prestations.0}}
        {{/HasPrestas}}
        {{/IsRestaurant}}
        {{#HasSpecialOffers}}
        <li class="menu-header-li">
            <a href="{{UrlSpecialOffers}}">{{ResourcesTemplate.pageMenuTitle_special-offers}}</a>
        </li>
        {{/HasSpecialOffers}}
        {{#HasBookingActivated}}
        {{#HasGiftsActivated}}
        <li class="menu-header-li">
            <a href="{{UrlGifts}}">{{ResourcesTemplate.GiftsTitle}}</a>
        </li>
        {{/HasGiftsActivated}}
        {{/HasBookingActivated}}
        {{#HasRecommandations}}
        <li class="menu-header-li">
            <a href="{{UrlAround}}">{{ResourcesTemplate.pageMenuTitle_around}}</a>
        </li>
        {{/HasRecommandations}}
        {{#HasNews}}
        <li class="menu-header-li">
            <a href="{{UrlNews}}">{{ResourcesTemplate.pageMenuTitle_news}}</a>
        </li>
        {{/HasNews}}
        {{#FeaturedPage}}
        <li class="menu-header-li">
            <a href="{{UrlPageTemplate}}">{{TitlePage}}</a>
        </li>
        {{/FeaturedPage}}
        <li class="menu-header-li">
            <a href="{{UrlContact}}">{{ResourcesTemplate.Contact}}</a>
        </li>
        {{#HasBookingActivated}}
        <li class="button-nav-resa menu-header-li">
            <a href="{{UrlOnlineBooking}}">{{ResourcesTemplate.pageMenuTitle_online-reservation}}</a>
        </li>
        {{/HasBookingActivated}}
    </ul>

    <div class="big-line"></div>
</div>
{{/Header}}

{{< Map}}
<!-- SECTION MAP -->
<section class="section-map">

    <div id="applemapkit" class="fullwidth-mapkit">
        <div id="mapApple"></div>
    </div>
    <div data-action="external-map" class="external-map">
        <i class="las la-map-marker-alt"></i>
        <span>{{ResourcesTemplate.ToCome}}</span>
    </div>

</section>
{{/Map}}

{{< Footer}}
<footer class="section-footer">
    <div class="content-footer">

        <div class="add-logo-and-social-medias">
            <div class="address-contacts-logo">
                <div>{{AddressLine}},<br />{{PostalCode}}, {{City}}, {{Country}}</div>

                {{#HasSocialNetworks}}
                <div class="social-medias-footer social-medias-2">
                    {{#TikTok}}<a href="{{TikTok}}" target="_blank"><i class="fab fa-tiktok"></i></a>{{/TikTok}}
                    {{#Facebook}}<a href="{{Facebook}}" target="_blank"><i class="lab la-facebook-f"></i></a>{{/Facebook}}
                    {{#Twitter}}<a href="{{Twitter}}" target="_blank"><i class="lab la-twitter"></i></a>{{/Twitter}}
                    {{#Pinterest}}<a href="{{Pinterest}}" target="_blank"><i class="lab la-pinterest"></i></a>{{/Pinterest}}
                    {{#Youtube}}<a href="{{Youtube}}" target="_blank"><i class="lab la-youtube"></i></a>{{/Youtube}}
                    {{#Instagram}}<a href="{{Instagram}}" target="_blank"><i class="lab la-instagram"></i></a>{{/Instagram}}
                    {{#Vimeo}}<a href="{{Vimeo}}" target="_blank"><i class="lab la-vimeo"></i></a>{{/Vimeo}}
                    {{#Linkedin}}<a href="{{Linkedin}}" target="_blank"><i class="lab la-linkedin-in"></i></a>{{/Linkedin}}
                </div>
                {{/HasSocialNetworks}}

                <div class="logo">
                    <a class="logo-footer {{^HasLogo}} logo-text{{/HasLogo}}" href="{{UrlRoot}}">
                        {{#HasLogo}}<img src="{{LogoUrl}}" alt="{{CustomTitle}}">{{/HasLogo}}
                        {{^HasLogo}}
                        <div class="title">
                            <div class="name-title-footer">{{CustomTitle}}</div>
                            <sup class="rating-stars">{{{Rating}}}</sup>
                        </div>
                        <span class="subtitle">{{CustomTypeOi}}</span>
                        {{/HasLogo}}
                    </a>
                </div>
            </div>

            {{#HasSocialNetworks}}
            <div class="social-medias-footer social-medias-1">
                {{#TikTok}}<a href="{{TikTok}}" target="_blank"><i class="fab fa-tiktok"></i></a>{{/TikTok}}
                {{#Facebook}}<a href="{{Facebook}}" target="_blank"><i class="lab la-facebook-f"></i></a>{{/Facebook}}
                {{#Twitter}}<a href="{{Twitter}}" target="_blank"><i class="lab la-twitter"></i></a>{{/Twitter}}
                {{#Pinterest}}<a href="{{Pinterest}}" target="_blank"><i class="lab la-pinterest"></i></a>{{/Pinterest}}
                {{#Youtube}}<a href="{{Youtube}}" target="_blank"><i class="lab la-youtube"></i></a>{{/Youtube}}
                {{#Instagram}}<a href="{{Instagram}}" target="_blank"><i class="lab la-instagram"></i></a>{{/Instagram}}
                {{#Vimeo}}<a href="{{Vimeo}}" target="_blank"><i class="lab la-vimeo"></i></a>{{/Vimeo}}
                {{#Linkedin}}<a href="{{Linkedin}}" target="_blank"><i class="lab la-linkedin-in"></i></a>{{/Linkedin}}
            </div>
            {{/HasSocialNetworks}}
        </div>

        <div class="legal-and-cgv">
            <a href="{{UrlLegalNotice}}">{{ResourcesTemplate.pageMenuTitle_legal-notice}}</a>

            <a href="{{UrlTermsOfSales}}">{{ResourcesTemplate.pageMenuTitle_terms-of-sales}}</a>
        </div>

        {{#HasAlcoolWarning}}
        <div class="alcool-warning">
            <span>{{ResourcesTemplate.AlcoolWarning}}</span>
        </div>
        {{/HasAlcoolWarning}}

        {{#HasPartners}}
        <div class="partners">
            {{#Partners}}
            <a href="{{UrlPartner}}" target="_blank"><img src="{{#PhotoPartner}}{{UrlMedias}}/300x200/{{IdMedia}}/{{FileNamePhoto}}{{/PhotoPartner}}" alt="{{TitlePartner}}"></a>
            {{/Partners}}
        </div>
        {{/HasPartners}}

        <div class="copy-and-elloha">
            <p class="copyright">
                {{ResourcesTemplate.Copyright}} {{CustomTitle}}<sup class="rating-stars">{{{Rating}}}</sup>

                <span class="trait-vertical">|</span>

                {{ResourcesTemplate.PoweredBy}} <a href="http://www.elloha.com/fr/" target="_blank"><img src="https://static.elloha.com/webgen/img/elloha.png" alt="logo-elloha"></a>
            </p>
        </div>

    </div>

    <div class="scroll-holder text-center">
        <a href="javascript:" id="scroll-to-top"><i class="las la-arrow-down"></i></a>
    </div>
</footer>
{{/Footer}}